@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}